{% extends 'home.html' %}
{% load static %}

{% block content %}

    
  <h1>Make Your Blog! </h1>
<a href="{%url 'new:create' %}">새로운 글 작성하기</a>

    <h2>글 목록 입니다</h2><br>
    
    {% for post in all_posts %}
    
        <p>title: {{ post.title }}</p>
        <p>content: {{ post.content }}</p>
        <p>who: {{ post.writer }}</p>
        <p>{{ post.created_at }}</p>
        <a href="{% url 'new:show' post.pk %}">보러가기</a>
        <p>==========================</p>
    
    {% endfor %}
    
    {% endblock %}
  