{% extends 'home.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <style>
        .cardwrapper {
            display: flex;
            justify-content: space-around;
            margin-top: 100px;
        }

        @font-face {
            font-family: 'Binggrae-Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'Binggrae-Bold';
        }
    </style>

    <div style="font-size:2rem" class="alert alert-info" role="alert">Introduce</div>
    <div class="cardwrapper">
            <div class="card" style="width: 18rem;">
                    
                    <div class="card-body">
                        <h5 class="card-title">이신형</h5>
                        <p class="card-text">집에가고싶다.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">서울시립대</li>
                        <li class="list-group-item">970204</li>
                        <li class="list-group-item">Front end</li>
                    </ul>
                    
                </div>
                <div class="card" style="width: 18rem;">
                        
                        <div class="card-body">
                            <h5 class="card-title">구예진</h5>
                            <p class="card-text">집에안가고싶다.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">동국대</li>
                            <li class="list-group-item">귀찮다</li>
                            <li class="list-group-item">Back end</li>
                        </ul>
                        
                    </div>
                    <div class="card" style="width: 18rem;">
                            
                            <div class="card-body">
                                <h5 class="card-title">김영은</h5>
                                <p class="card-text">집에가자.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">성신여대</li>
                                <li class="list-group-item">귀찮다</li>
                                <li class="list-group-item">Front End</li>
                            </ul>
                            
                        </div>
                        <div class="card" style="width: 18rem;">
                                
                                <div class="card-body">
                                    <h5 class="card-title">이정우</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non est ex eos error
                                        exercitationem, alias veniam enim nesciunt laudantium amet quidem, quaerat magni, officiis
                                        dignissimos vitae numquam! Debitis, eius soluta.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">국민대</li>
                                    <li class="list-group-item">귀찮다</li>
                                    <li class="list-group-item">Back end</li>
                                </ul>
                                
                            </div>
                            <div class="card" style="width: 18rem;">
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">이지혜</h5>
                                        <p class="card-text">냐햐햐햐햐햐햐햐햐햐햐햐햐햐햐햐햫햐ㅎ햐ㅑ햐ㅎ햐햐</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">동국대</li>
                                        <li class="list-group-item">981107</li></li>
                                        <li class="list-group-item">Back end</li>
                                    </ul>
                                    
                                </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>

{% endblock %}